[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent = "*"
natural = "*"
dateutils = "*"
pymongo = {extras = ["srv"], version = "*"}
click = "*"
python-dotenv = "*"
requests-oauthlib = "*"
flask-discord = {editable = true, ref = "v9", git = "https://github.com/weibeu/Flask-Discord.git"}

[dev-packages]

[requires]
python_version = "3.9"
