{#From origional github for logviewer https://github.com/kyb3r/logviewer#}
{#License (GNU General public License v3.0) https://github.com/kyb3r/logviewer/blob/master/LICENSE #}
{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer2</h1>
        <h5 class="header col s12 light grey-text">This site is used to display Modmail log entries.</h5>
        <h5 class="header col s12 light grey-text">Templates + visual part of the viewer is from <a href="https://github.com/kyb3r/logviewer">kyb3r/logviewer</a></h5>
        <br>
        <div class="row center">
            <a href="https://github.com/hackerjef/logviewer2" class="btn waves-effect my-button">Logviewer2 Github</a>
            <a href="https://github.com/hackerjef" class="btn waves-effect my-button">Nadie Github</a>
            <a href="https://github.com/kyb3r" class="btn waves-effect my-button">kyb3r Github</a>
            <a href="https://patreon.com/kyber" class="btn waves-effect my-button">kyb3r Patreon</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
