{#From origional github for logviewer https://github.com/kyb3r/logviewer#}
{#License (GNU General public License v3.0) https://github.com/kyb3r/logviewer/blob/master/LICENSE #}
{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Unauthorized</h1>
        <h5 class="header col s12 light grey-text">You do not have access to this area</h5>
{#        <h5 class="header col s12 light grey-text">{{ message }}</h5>#}
        <br>
    </div>
</div>

</main>

{% endblock %}